<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>2048</integer>
		<key>height</key>
		<integer>2048</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>enemy.small</key>
		<dict>
			<key>x</key>
			<integer>940</integer>
			<key>y</key>
			<integer>1133</integer>
			<key>width</key>
			<integer>75</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>75</integer>
			<key>originalHeight</key>
			<integer>75</integer>
		</dict>
		<key>enemy.large.5</key>
		<dict>
			<key>x</key>
			<integer>488</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>242</integer>
			<key>height</key>
			<integer>208</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>242</integer>
			<key>originalHeight</key>
			<integer>208</integer>
		</dict>
		<key>enemy.xlarge</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>480</integer>
			<key>height</key>
			<integer>267</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>480</integer>
			<key>originalHeight</key>
			<integer>267</integer>
		</dict>
		<key>explosion.big.0</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<real>1464</real>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion.big.1</key>
		<dict>
			<key>x</key>
			<integer>68</integer>
			<key>y</key>
			<real>1464</real>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion.big.2</key>
		<dict>
			<key>x</key>
			<integer>136</integer>
			<key>y</key>
			<real>1464</real>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion.big.3</key>
		<dict>
			<key>x</key>
			<integer>204</integer>
			<key>y</key>
			<real>1464</real>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion.big.4</key>
		<dict>
			<key>x</key>
			<integer>272</integer>
			<key>y</key>
			<real>1464</real>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion.big.5</key>
		<dict>
			<key>x</key>
			<integer>340</integer>
			<key>y</key>
			<real>1464</real>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion.big.6</key>
		<dict>
			<key>x</key>
			<integer>408</integer>
			<key>y</key>
			<real>1464</real>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion.big.7</key>
		<dict>
			<key>x</key>
			<integer>476</integer>
			<key>y</key>
			<real>1464</real>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion.big.8</key>
		<dict>
			<key>x</key>
			<integer>544</integer>
			<key>y</key>
			<real>1464</real>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion.big.9</key>
		<dict>
			<key>x</key>
			<integer>612</integer>
			<key>y</key>
			<real>1464</real>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion.big.10</key>
		<dict>
			<key>x</key>
			<integer>680</integer>
			<key>y</key>
			<real>1464</real>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion.big.11</key>
		<dict>
			<key>x</key>
			<integer>748</integer>
			<key>y</key>
			<real>1464</real>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion.helix</key>
		<dict>
			<key>x</key>
			<integer>2012</integer>
			<key>y</key>
			<real>1658</real>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>30</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>30</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>explosion.midas</key>
		<dict>
			<key>x</key>
			<real>1936</real>
			<key>y</key>
			<integer>1384</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion.small.0</key>
		<dict>
			<key>x</key>
			<integer>1632</integer>
			<key>y</key>
			<integer>1656</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>explosion.small.1</key>
		<dict>
			<key>x</key>
			<real>1668</real>
			<key>y</key>
			<real>1656</real>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>explosion.small.2</key>
		<dict>
			<key>x</key>
			<real>1704</real>
			<key>y</key>
			<real>1656</real>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>explosion.small.3</key>
		<dict>
			<key>x</key>
			<integer>1740</integer>
			<key>y</key>
			<real>1656</real>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>explosion.small.4</key>
		<dict>
			<key>x</key>
			<integer>1776</integer>
			<key>y</key>
			<real>1656</real>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>explosion.small.5</key>
		<dict>
			<key>x</key>
			<integer>1812</integer>
			<key>y</key>
			<real>1656</real>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>explosion.standard.0</key>
		<dict>
			<key>x</key>
			<integer>844</integer>
			<key>y</key>
			<real>1384</real>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion.standard.1</key>
		<dict>
			<key>x</key>
			<integer>844</integer>
			<key>y</key>
			<real>1384</real>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion.standard.2</key>
		<dict>
			<key>x</key>
			<integer>912</integer>
			<key>y</key>
			<real>1384</real>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion.standard.3</key>
		<dict>
			<key>x</key>
			<integer>980</integer>
			<key>y</key>
			<real>1384</real>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion.standard.4</key>
		<dict>
			<key>x</key>
			<real>1048</real>
			<key>y</key>
			<real>1384</real>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion.standard.5</key>
		<dict>
			<key>x</key>
			<real>1116</real>
			<key>y</key>
			<real>1384</real>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion.standard.6</key>
		<dict>
			<key>x</key>
			<real>1184</real>
			<key>y</key>
			<real>1384</real>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion.standard.7</key>
		<dict>
			<key>x</key>
			<real>1252</real>
			<key>y</key>
			<real>1384</real>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion.standard.8</key>
		<dict>
			<key>x</key>
			<real>1320</real>
			<key>y</key>
			<real>1384</real>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion.standard.9</key>
		<dict>
			<key>x</key>
			<integer>1388</integer>
			<key>y</key>
			<real>1384</real>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion.standard.10</key>
		<dict>
			<key>x</key>
			<integer>1456</integer>
			<key>y</key>
			<real>1384</real>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion.standard.11</key>
		<dict>
			<key>x</key>
			<integer>1524</integer>
			<key>y</key>
			<real>1384</real>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion.standard.12</key>
		<dict>
			<key>x</key>
			<integer>1592</integer>
			<key>y</key>
			<real>1384</real>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion.standard.13</key>
		<dict>
			<key>x</key>
			<integer>1660</integer>
			<key>y</key>
			<real>1384</real>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion.standard.14</key>
		<dict>
			<key>x</key>
			<integer>1728</integer>
			<key>y</key>
			<real>1384</real>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion.standard.15</key>
		<dict>
			<key>x</key>
			<integer>1796</integer>
			<key>y</key>
			<real>1384</real>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion.blood.0</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>1704</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>explosion.blood.1</key>
		<dict>
			<key>x</key>
			<integer>36</integer>
			<key>y</key>
			<real>1704</real>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>explosion.blood.2</key>
		<dict>
			<key>x</key>
			<integer>72</integer>
			<key>y</key>
			<real>1704</real>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>explosion.tachyon</key>
		<dict>
			<key>x</key>
			<integer>368</integer>
			<key>y</key>
			<real>1704</real>
			<key>width</key>
			<integer>53</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>53</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>flare.0</key>
		<dict>
			<key>x</key>
			<integer>1024</integer>
			<key>y</key>
			<integer>620</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>flare.1</key>
		<dict>
			<key>x</key>
			<integer>920</integer>
			<key>y</key>
			<integer>620</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>flare.2</key>
		<dict>
			<key>x</key>
			<integer>816</integer>
			<key>y</key>
			<integer>620</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>flare.3</key>
		<dict>
			<key>x</key>
			<integer>712</integer>
			<key>y</key>
			<integer>620</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>flare.4</key>
		<dict>
			<key>x</key>
			<integer>608</integer>
			<key>y</key>
			<integer>620</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>flare.5</key>
		<dict>
			<key>x</key>
			<integer>504</integer>
			<key>y</key>
			<integer>620</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>flare.6</key>
		<dict>
			<key>x</key>
			<integer>400</integer>
			<key>y</key>
			<integer>620</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>flare.7</key>
		<dict>
			<key>x</key>
			<integer>296</integer>
			<key>y</key>
			<integer>620</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>flare.8</key>
		<dict>
			<key>x</key>
			<integer>192</integer>
			<key>y</key>
			<integer>620</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>flare.9</key>
		<dict>
			<key>x</key>
			<integer>88</integer>
			<key>y</key>
			<integer>620</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>flare.10</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>732</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>flare.11</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>732</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>flare.12</key>
		<dict>
			<key>x</key>
			<integer>104</integer>
			<key>y</key>
			<integer>732</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>flare.13</key>
		<dict>
			<key>x</key>
			<integer>208</integer>
			<key>y</key>
			<integer>732</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>flare.14</key>
		<dict>
			<key>x</key>
			<integer>312</integer>
			<key>y</key>
			<integer>732</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>flare.15</key>
		<dict>
			<key>x</key>
			<integer>416</integer>
			<key>y</key>
			<integer>732</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>flare.16</key>
		<dict>
			<key>x</key>
			<integer>520</integer>
			<key>y</key>
			<integer>732</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>flare.17</key>
		<dict>
			<key>x</key>
			<integer>624</integer>
			<key>y</key>
			<integer>732</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>flare.18</key>
		<dict>
			<key>x</key>
			<integer>728</integer>
			<key>y</key>
			<integer>732</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>flare.19</key>
		<dict>
			<key>x</key>
			<integer>832</integer>
			<key>y</key>
			<integer>732</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>flare.20</key>
		<dict>
			<key>x</key>
			<integer>936</integer>
			<key>y</key>
			<integer>732</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>projectile.basic</key>
		<dict>
			<key>x</key>
			<integer>1940</integer>
			<key>y</key>
			<integer>1133</integer>
			<key>width</key>
			<integer>62</integer>
			<key>height</key>
			<integer>63</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>62</integer>
			<key>originalHeight</key>
			<integer>63</integer>
		</dict>
		<key>projectile.blood</key>
		<dict>
			<key>x</key>
			<integer>1944</integer>
			<key>y</key>
			<integer>216</integer>
			<key>width</key>
			<integer>52</integer>
			<key>height</key>
			<integer>52</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>52</integer>
			<key>originalHeight</key>
			<integer>52</integer>
		</dict>
		<key>projectile.blood.danger</key>
		<dict>
			<key>x</key>
			<integer>452</integer>
			<key>y</key>
			<integer>1536</integer>
			<key>width</key>
			<integer>52</integer>
			<key>height</key>
			<integer>52</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>52</integer>
			<key>originalHeight</key>
			<integer>52</integer>
		</dict>
		<key>projectile.boomerang</key>
		<dict>
			<key>x</key>
			<integer>820</integer>
			<key>y</key>
			<integer>1464</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>projectile.boomerang.danger</key>
		<dict>
			<key>x</key>
			<integer>892</integer>
			<key>y</key>
			<real>1464</real>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>projectile.brightball</key>
		<dict>
			<key>x</key>
			<integer>2040</integer>
			<key>y</key>
			<integer>732</integer>
			<key>width</key>
			<integer>8</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>8</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>projectile.chaingun</key>
		<dict>
			<key>x</key>
			<integer>2028</integer>
			<key>y</key>
			<integer>1384</integer>
			<key>width</key>
			<integer>8</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>8</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>projectile.comet</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>621</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>103</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>103</integer>
		</dict>
		<key>projectile.dart</key>
		<dict>
			<key>x</key>
			<integer>1552</integer>
			<key>y</key>
			<integer>1132</integer>
			<key>width</key>
			<integer>46</integer>
			<key>height</key>
			<integer>76</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>46</integer>
			<key>originalHeight</key>
			<integer>76</integer>
		</dict>
		<key>projectile.dart.danger</key>
		<dict>
			<key>x</key>
			<integer>1608</integer>
			<key>y</key>
			<real>1132</real>
			<key>width</key>
			<integer>46</integer>
			<key>height</key>
			<integer>76</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>46</integer>
			<key>originalHeight</key>
			<integer>76</integer>
		</dict>
		<key>projectile.helix</key>
		<dict>
			<key>x</key>
			<integer>2020</integer>
			<key>y</key>
			<integer>1604</integer>
			<key>width</key>
			<integer>19</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>19</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>projectile.laser.drone</key>
		<dict>
			<key>x</key>
			<integer>2028</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>8</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>8</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>projectile.laser.nightfury</key>
		<dict>
			<key>x</key>
			<integer>904</integer>
			<key>y</key>
			<integer>461</integer>
			<key>width</key>
			<integer>116</integer>
			<key>height</key>
			<integer>131</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>116</integer>
			<key>originalHeight</key>
			<integer>131</integer>
		</dict>
		<key>projectile.laser.particlebeam</key>
		<dict>
			<key>x</key>
			<integer>492</integer>
			<key>y</key>
			<integer>1706</integer>
			<key>width</key>
			<integer>44</integer>
			<key>height</key>
			<integer>30</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>44</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>projectile.laser.pod</key>
		<dict>
			<key>x</key>
			<integer>112</integer>
			<key>y</key>
			<integer>1706</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>30</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>projectile.laser.sweeper</key>
		<dict>
			<key>x</key>
			<integer>1852</integer>
			<key>y</key>
			<integer>1658</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>30</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>projectile.laser.targeting</key>
		<dict>
			<key>x</key>
			<integer>2028</integer>
			<key>y</key>
			<integer>73</integer>
			<key>width</key>
			<integer>8</integer>
			<key>height</key>
			<integer>63</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>8</integer>
			<key>originalHeight</key>
			<integer>63</integer>
		</dict>
		<key>projectile.laser.targeting.2</key>
		<dict>
			<key>x</key>
			<integer>492</integer>
			<key>y</key>
			<real>1706</real>
			<key>width</key>
			<integer>44</integer>
			<key>height</key>
			<integer>30</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>44</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>projectile.laser.tiny</key>
		<dict>
			<key>x</key>
			<integer>1784</integer>
			<key>y</key>
			<integer>1464</integer>
			<key>width</key>
			<integer>8</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>8</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>projectile.machinegun</key>
		<dict>
			<key>x</key>
			<integer>2036</integer>
			<key>y</key>
			<integer>460</integer>
			<key>width</key>
			<integer>10</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>10</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>projectile.massdriver</key>
		<dict>
			<key>x</key>
			<integer>2008</integer>
			<key>y</key>
			<integer>1384</integer>
			<key>width</key>
			<integer>10</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>10</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>projectile.mirvball</key>
		<dict>
			<key>x</key>
			<integer>1708</integer>
			<key>y</key>
			<integer>1304</integer>
			<key>width</key>
			<integer>72</integer>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>72</integer>
			<key>originalHeight</key>
			<integer>72</integer>
		</dict>
		<key>projectile.missile</key>
		<dict>
			<key>x</key>
			<integer>1436</integer>
			<key>y</key>
			<integer>460</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>128</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>projectile.missile.2</key>
		<dict>
			<key>x</key>
			<integer>1992</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>26</integer>
			<key>height</key>
			<integer>134</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>26</integer>
			<key>originalHeight</key>
			<integer>134</integer>
		</dict>
		<key>projectile.missile.3</key>
		<dict>
			<key>x</key>
			<integer>2036</integer>
			<key>y</key>
			<integer>1224</integer>
			<key>width</key>
			<integer>10</integer>
			<key>height</key>
			<integer>68</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>10</integer>
			<key>originalHeight</key>
			<integer>68</integer>
		</dict>
		<key>projectile.missile.4</key>
		<dict>
			<key>x</key>
			<integer>2032</integer>
			<key>y</key>
			<integer>1040</integer>
			<key>width</key>
			<integer>16</integer>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>16</integer>
			<key>originalHeight</key>
			<integer>84</integer>
		</dict>
		<key>projectile.phoenix</key>
		<dict>
			<key>x</key>
			<integer>964</integer>
			<key>y</key>
			<real>1464</real>
			<key>width</key>
			<integer>62</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>62</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>projectile.razor</key>
		<dict>
			<key>x</key>
			<integer>2016</integer>
			<key>y</key>
			<integer>1305</integer>
			<key>width</key>
			<integer>20</integer>
			<key>height</key>
			<integer>71</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>20</integer>
			<key>originalHeight</key>
			<integer>71</integer>
		</dict>
		<key>projectile.rocket</key>
		<dict>
			<key>x</key>
			<integer>2024</integer>
			<key>y</key>
			<integer>1466</integer>
			<key>width</key>
			<integer>24</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>24</integer>
			<key>originalHeight</key>
			<integer>50</integer>
		</dict>
		<key>projectile.shuriken</key>
		<dict>
			<key>x</key>
			<integer>1060</integer>
			<key>y</key>
			<real>1656</real>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>projectile.shuriken.danger</key>
		<dict>
			<key>x</key>
			<integer>1108</integer>
			<key>y</key>
			<integer>1656</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>projectile.tachyon</key>
		<dict>
			<key>x</key>
			<integer>1432</integer>
			<key>y</key>
			<integer>620</integer>
			<key>width</key>
			<integer>29</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>29</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>projectile.teslabot</key>
		<dict>
			<key>x</key>
			<integer>860</integer>
			<key>y</key>
			<integer>1536</integer>
			<key>width</key>
			<integer>20</integer>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>20</integer>
			<key>originalHeight</key>
			<integer>48</integer>
		</dict>
		<key>projectile.warp</key>
		<dict>
			<key>x</key>
			<integer>1068</integer>
			<key>y</key>
			<integer>279</integer>
			<key>width</key>
			<integer>126</integer>
			<key>height</key>
			<integer>161</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>126</integer>
			<key>originalHeight</key>
			<integer>161</integer>
		</dict>
		<key>turret.slow</key>
		<dict>
			<key>x</key>
			<integer>804</integer>
			<key>y</key>
			<integer>1536</integer>
			<key>width</key>
			<integer>48</integer>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>originalHeight</key>
			<integer>48</integer>
		</dict>
		<key>turret.xl.uni</key>
		<dict>
			<key>x</key>
			<integer>1104</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>200</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>200</integer>
		</dict>
	</dict>
</dict>
</plist>
